# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
build/
dist/
*.egg-info/
.env

# Virtual environment
venv/
.venv/

# Logs
logs/
*.log

# Excel output files
*_评估结果.xlsx
batch_query_log_*.xlsx

# Temporary files
*.tmp
*.bak
*~
temp*
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
